html {
  font-family: 'Helvetica', sans-serif;
  line-height: 140%;
  text-transform: lowercase;
}

header, main, footer {
  margin: 0 auto;
  max-width: 30rem;
}

header {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 2rem 0;
}

blockquote {
  font-style: italic;
  text-align: left;
}
